*{margin:0;
  padding: 0;}
        /*  ----------  Cuerpo  -------------   */
#principal{
    background-image:url(img/Inicio.png);
    height: 765px;
    width: 1366px;
    background-repeat: no-repeat; /*No repetir imagen*/
    background-color: powderblue;  /*Color de fondo*/
}
        /*  ----------  Imagen de centro  -------------   */
#imagen_avatar{
    width: 170px;
    height: 170px;
}
#imagen{
    height: 30px;
}
        /*  ----------  Login  -------------   */
@font-face {
  font-family: "Geo";
  src: url("fonts/Geometos.ttf");
}

p {
    font-family: "Geo";
    font-size: 150%;
    color: #D6D2C9;
}
#texto {
    height: 80px;
    width: 250px;
}
#UserName{
    font-size: 15px;
    height: 40px;
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    transition: 0.3s;
}
#UserName:focus {
    border-color:blue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
#pwd {
    height: 80px;
    width: 250px;
}
#PassWord {
    font-size: 15px;
    height: 40px;
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    transition: 0.3s;
}
#PassWord:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}