<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BD_CADROConnectionString (WebApplication1)" connectionString="XpoProvider=MSSqlServer;data source=172.17.75.9;user id=sa;password=(qpwoeiruty12345*);initial catalog=cadro_prueba;Persist Security Info=true" />
    </connectionStrings>
</configuration>